<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <nav> 
      <button class="nav-button" (click)="onIndex()" >Accueil</button>
      <button class="nav-button" (click)="onGite()" >Le gîte</button>
      <button class="nav-button" (click)="onTarif()" >Les tarifs</button>
      <button class="nav-button" (click)="onContact()" >Nous contacter</button>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <header>
      <button class="menu-button" (click)="drawer.toggle()" ></button>
       Le Babord 
    </header>  
    <ng-template [mainPanel]> </ng-template>

  </mat-drawer-content>
</mat-drawer-container>
 
