<h1>Bienvenue à Honfleur, au gîte Le Babord :</h1>
    <div class="content">
      <p>Nous Vous accueillons dans notre gîte spacieux et lumineux avec jardin et parking privé (5 véhicules) situé à 600 m du Vieux Bassin et centre ville de Honfleur, sa capacité d’accueil est de 10 à 12 personnes plus s’il y a des enfants en bas âge. Il est composé de 5 chambres dont une au rez de chaussée avec salle de douche et tv écran plat dans chaque chambre, de 3 salles de bain et 3 wc séparés, une salle à manger avec une grande table cuisine américaine toute équipée, un salon avec canapé et écran plat son cinéma, une salle de jeux avec billard. Une terrasse avec salon de jardin barbecue et chaise longue.</p>
      
      <iframe class="map" src="https://www.google.com/maps/d/u/0/embed?mid=1Fv0APJg3T0z5R6IHBTtIrt6aclU" ></iframe>
    </div>  